.bi{
    position : relative;
}
.bi div{
    display : inline-block;
    width: 100px;
    height: 100px;
    background-color: #3FAE7C;
    opacity: 20%;
    border : 10px solid #CBEADC;
    border-radius: 50%;
    position : absolute;
    z-index: 999;
    transition : 0.5s;
    
    color : black;
    font-size : 20px;
    text-align : center;
    line-height : 100px;
    float : left;
    word-break : keep-all;
}
.bi div:hover{
    background-color: #FD9494;
}
/*https://www.google.com/maps/d/viewer?mid=1PLAZ4RLNT1NMUgY_owwQ11wy2mI&hl=en_US 다리 출처*/
#gimpo{
    top : 300px;
    left : 620px;
}
#hengju{
    top : 440px;
    left : 940px;
}
#banghwa{
    top : 530px;
    left : 1250px;
}
#gayang{
    top : 730px;
    left : 1800px;
}
#sungsan{
    top : 185px;
    left : 2330px;
}
#yanghwa{
    top : 270px;
    left : 2550px;
}
#sugang{
    top : 330px;
    left: 2910px;
}
#mapo{
    top : 370px;
    left : 3100px;
}
#onehyo{
    top : 440px;
    left : 3250px;
}
#hangang_b{
    top : 525px;
    left : 3500px;
}
#dongjak{
    top : 610px;
    left : 3880px;
}
#banpo_jamsu{
    top : 570px;
    left : 4130px;
}
#hanam{
    top : 450px;
    left : 4400px;
}
#dongho{
    top : 345px;
    left : 4570px;
}
#sungsu{
    top : 330px;
    left : 4800px;
}
#yungdong{
    top : 410px;
    left : 5180px;
}
#chyungdam{
    top : 450px;
    left : 5310px;
}
#jamsil{
    top : 460px;
    left : 5780px;
}
#jamsil_i{
    top : 380px;
    left : 5990px;
}
#olympic{
    top : 280px;
    left : 6130px;
}
#guriamsa{
    top : 650px;
    left : 6940px;
}
#misa{
    top : 590px;
    left : 7600px;
}