#hmenu {
    background-color: #B5B5B5;
    width : 200px;
    margin-left : 130px;
    margin-top : 30px;
    position : absolute;
}

.burger-input {
  top: 0;
  left: 0;
  opacity: 0;
  width: 200px;
  height: 45px;
  position: absolute;
}
.burger-input + label {
  width: 30px;
  display: block;
  margin: 0 auto;
  cursor : pointer;
  padding: 10px 0;
  position: relative;
}
.burger-input + label:after, .burger-input + label:before,
.burger-input + label .burger {
  content: '';
  width: 25px;
  height: 4px;
  display: block;
  margin: 3px auto;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-transition: all 200ms ease-in-out;
  -moz-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.burger-input:checked + label {
  top: 4px;
}
.burger-input:checked + label:before {
  -webkit-transform: translateY(2px) rotate(135deg);
  -moz-transform: translateY(2px) rotate(135deg);
  -ms-transform: translateY(2px) rotate(135deg);
  -o-transform: translateY(2px) rotate(135deg);
  transform: translateY(2px) rotate(135deg);
}
.burger-input:checked + label:after {
  -webkit-transform: translateY(-12px) rotate(-135deg);
  -o-transform: translateY(-12px) rotate(-135deg);
  transform: translateY(-12px) rotate(-135deg);
}
.burger-input:checked + label .burger {
  -webkit-transform: scale(0);
}
.burger-input:checked ~ #hmain {
  height: 200px;
}
.burger-input:checked ~ #hmain li {
    height: 30px;
    text-align: center;
}
#hmain{
    height : 0px;
    overflow : hidden;
    transition : 0.5s;
}

#hsub {
  margin: 0;
  padding: 0;
  width: 200px;
  list-style: none;
  text-align: center;
}
#hsub li{
  display: block;
  padding: 10px 0;
  color: #ffffff;
  background-color: #616161;
}