img{
    display : block;
    border : 0;
}
.slide_m img{
    width: 1129px;
    height: 750px;
}
.slide_h img{
    width: 1200px;
    height: 750px;
    display : inline-block;
    float : left;
}
.slide_m{
    width : 1129px;
    margin : 0 auto;
    overflow : hidden;
    display : inline-block;
    position : absolute;
    float : right;
}
.slide_h{
    width : 1200px;
    height: 750px;
    overflow : hidden;
    
    float : right;
}
.slide_m ul{
    width : 7903px; 
    list-style : none;
    font-size : 0px;
    transition : 2s;
}
.slide_h ul{
    width : 8400px;
    height: 750px;
    list-style : none;
    font-size : 0px;
    transition : 2s;
}
.slide_m ul li{
    display : inline-block;
}
.slide_h ul li{
    display : inline-block;
}

#point{
    width: 85px;
    height: 125px;
    border : 4px solid red;
    
    margin-top : 198px;
    margin-left : -2px;
    position : absolute;
    float : left;
}
.button{
    list-style : none;
    width: 150px;
    height : 150px;
    
    margin-left : 220px;
    
    background-color: white;
    position : absolute;
}
.button img{
    width: 40px;
    height: 40px;
    position  :absolute;
    margin : 0 auto;
}