img{
    display : block;
    border : 0;
}
.slide_m img{
    width: 1129px;
    height: 750px;
}
.slide_h img{
    width: 1200px;
    height: 750px;
    display : inline-block;
    float : left;
}
.slide_m{
    width : 1129px;
    margin : 0 auto;
    overflow : hidden;
    
    float : right;
}
.slide_h{
    width : 1200px;
    height: 750px;
    margin-right : 150px;
    overflow : hidden;
    
    float : right;
}
.slide_m ul{
    width : 7903px; 
    list-style : none;
    font-size : 0px;
}
.slide_h ul{
    width : 8400px;
    height: 750px;
    list-style : none;
    font-size : 0px;
}
.slide_m ul li{
    display : inline-block;
}
.slide_h ul li{
    display : inline-block;
}